*{
	font-size: 18px;
}

html {
	scroll-behavior: smooth;
}

img	{
	width: 300px;
	height: 300px;
	border-radius: 300px;
}
.core_tools {
	width: 80px;
	height: 80px;
	border-radius: 80px;
}

.other_tools {
	width: 80px;
	height: 80px;
	border-radius: 80px;
}

#gmap_canvas {
	
	height: 46vh;
	width: 100%;
}

